{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "import/extensions": ["off", "never"],
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-extraneous-dependencies": "off",
  }
}